{{ define "main" }}
<div class="main-div">
  <div class="homepage-content">
    <div class="home-front-div">
      
    <img src="images/logo.jpeg" alt="bg-image"></img>
    <p>
      {{.Content}}
    </p>
    <a href="https://forms.gle/xAY2Bn9WkfdyYjG57" target="_blank" class="join-us-btn">Click here to join</a>
    </div>
    <hr/>
    <h2>Recent News</h2>
    
    <div class="recent-posts">
{{- range ( where site.RegularPages "Section" "posts" | first 3 ) }}
<a href="{{ .RelPermalink }}" style="text-decoration: none;">
    <div class="recent-post">
      {{ $featured_image := partial "func/GetFeaturedImage.html" . }}

      <div ><img src="{{ $featured_image }}" alt="image from {{ .Title }}" class="recent-post-img">
</div>
      <div class="recent-post-summary">
      {{ .Title }} <br/>
      {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
      <span style="font-weight: 300; font-size: 1rem;">  {{ .PublishDate.Format $dateFormat }}</span><br/>
      <span style="font-weight: 300;font-size: 1.2rem;">{{.Summary}}</span>
      {{ if .Truncated }}
      <div style="font-weight: bold;font-size: 1rem;">
       Read More…
      </div>
      {{ end }}
    </div>
    
    </div>
  </a>
    {{ end }}
    <div style="font-weight: bold;font-size: 1.5rem;">
      <a href="/posts/">More...</a> 
    </div>
    </div>
  </div>

</div>
{{ end }}
