{{ define "main" }}

<div class="post-list">
  <h1>{{.Title}}</h1>
{{- range .Pages.ByPublishDate.Reverse }}
<a href="{{ .RelPermalink }}" style="text-decoration: none;">
  <div class="post">
    {{ $featured_image := partial "func/GetFeaturedImage.html" . }}

    <div><img src="{{ $featured_image }}" alt="image from {{ .Title }}" class="post-img">
    </div>
    <div class="post-summary">
      {{ .Title }} <br />
      {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
      <span style="font-weight: 300; font-size: 1rem;"> {{ .PublishDate.Format $dateFormat }}</span><br />
      <span style="font-weight: 300;font-size: 1.2rem;">{{.Summary}}</span>
      {{ if .Truncated }}
      <div style="font-weight: bold;font-size: 1rem;">
        {{i18n "readMore"}}
      </div>
      {{ end }}
    </div>

  </div>
</a>
{{ end }}
</div>
{{end}}