{{ define "main" }} 
{{ $section := .Site.GetPage "section" .Section }} 

{{$featured_image := partial "func/GetFeaturedImage.html" . }} 
<article class="article-page">
  {{ if $featured_image }}

  <div>
    <img src="{{ $featured_image }}" alt="image from {{ .Title }}" />
  </div>
  {{end}}
  <div>
    <h1>{{- .Title -}}</h1>
    {{if eq .Section "posts"}} 
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <span style="font-weight: 300; font-size: 1rem;">
      {{ .PublishDate.Format $dateFormat }}</span
    >
    {{end}}
  </div>

  <div>
    <p>{{- .Content -}}</p>
  </div>
  {{if eq .Section "posts"}}
  <div style="align-self: flex-start;">{{ partial "social-share.html" . }}</div>
  {{end}}
</article>
{{ end }}
