.navbar {
  background-color: #5dade2 !important;
}
.navbar-light .navbar-brand {
  color: white !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white !important;
}
/* .collapse.show {
    display: block;
} */
#content{
    height: 100vh;
}
.main-div {
  color: #5dade2;
  background-color: white;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-image: url("/images/bg-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}
.main-div .homepage-content {
    /* height: auto;
    max-width: 100%;
    display: block; */
    color:black;
    text-align: center;
    padding: 3%;
    font-size: 2rem;
}
.main-div .homepage-content img{
    max-width: 50%;
    width: 500px;
    max-height: auto;
}

.footer{
    background-color: #5DADE2 !important;
    color: white;
    padding: 1%;
    text-align: center;
    margin: 0;
}

/* Device Size  */

@media only screen and (max-width: 768px) {
  #content{
    height: 100vh;
  }
  .main-div .homepage-content {
    font-size: 1.2rem;
}
}