<div class="footer">
<div>
{{i18n "copyright"}} &copy; {{ now.Format "2006"}} {{i18n "title"}}
</div>
<div>
    {{i18n "followUs"}}:
    <a href="{{.Site.Params.facebook}}" target="_blank"><img src="/images/social/facebook.png" alt="facebook"></a>
    <a href="{{.Site.Params.twitter}}" target="_blank"><img src="/images/social/twitter.png" alt="twitter"></a>
    <a href="{{.Site.Params.telegram}}" target="_blank"><img src="/images/social/telegram.png" alt="telegram"></a>
</div>
</div>

</body>
</html>