{{ $title := .Title }}
{{ $url := printf "%s" .Permalink | absLangURL }}

{{ if not .Params.disable_share }}
<div id="sharing">
<strong> Share: </strong>
    {{ $facebook_href := printf "https://www.facebook.com/sharer.php?u=%s" $url }}
    <a href="{{ $facebook_href }}" class="facebook no-underline" aria-label="share on Facebook" style="padding-right: 5px;">
        <img src="/images/social/facebook.png" alt="facebook">
    </a>

    {{ $twitter_href := printf "https://twitter.com/share?url=%s&text=%s" $url $title }}
    {{ with .Site.Social.twitter }}
    {{ $twitter_href = printf "%s&via=%s" $twitter_href . }}
    {{ end }}
    <a href="{{ $twitter_href }}" class="twitter no-underline" aria-label="share on Twitter">
       <img src="/images/social/twitter.png" alt="twitter">
    </a>

</div>
{{ end }}